*{
    box-sizing: border-box;
}

.taskOuterContainer{
    margin: 1rem; 
    background-color: rgb(56, 56, 56);
    padding: 1rem;
    border-radius: 500px;
    display: inline-block;
    counter-increment: taskCounter;
}

.taskInnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskInnerContainer > button
{
    font-size: 1rem;
    font-weight: bold;
    width: 2rem;
    height: 2rem;
    border-radius: 500px;
    margin-left: 1rem;
}

.taskInnerContainer > input{
    border: none;
    background-color: inherit;
    font-size: 1rem;
    color: aliceblue;
}
