.taskOuterContainer {
  margin: 1rem;
  background-color: rgb(56, 56, 56);
  /* padding: 1rem; */
  border-radius: 500px;
  display: inline-block;
  counter-increment: taskCounter;
}

.taskInnerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.taskInnerContainer > button {
  font-size: 1.6rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 500px;
  margin-left: 1rem;
  border: none;
}

.taskInnerContainer img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.taskInnerContainer > input {
  padding: 0.5rem 0;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  color: aliceblue;
  font-family: Consolas;
}

.todoButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todoButtons > button {
  border-radius: 50px;
  height: 4rem;
  width: 4rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1%;
}

.newTaskBtn {
  background-color: rgb(208, 208, 208);
}

@media (orientation: portrait) {
  .taskOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 5vmin;
  }
  .taskInnerContainer {
    display: flex;
    justify-content: space-between;
  }
  .taskInnerContainer > input {
    font-size: 2rem;
  }

  .taskInnerContainer > button {
    font-weight: bold;
    height: 15vmin;
    width: 15vmin;
    border-radius: 500px;
    margin-left: 1rem;
    border: none;
  }

  .todoButtons > button {
    border-radius: 50px;
    height: 10vmin;
    width: 50vmin;
    border: none;
    font-size: 5vmin;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1%;
  }
}
